:root {
    --main-bg-color: transparent;
    --text-color: #FFF;
    --accent-color: #D64E48;
}

body {
    background-image: url('https://wallpaperaccess.com/full/269159.png');
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Varela Round',
    sans-serif;
    font-size: 16px;
    overflow-y: hidden;
}

h1{
    font-size: 40px;
}

h1,h2{
    color: var(--accent-color);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.inputs{
    display: flex;
}
.input-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    font-size: 1.3em;
}

.input-group label, .checked {
    text-align: center;
}

.input-group input, .input-group select{
    margin: 1.5em;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.input-group input:selected {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

#output, #checked, #addedOutput{
    margin: auto;
    padding: 1em;
}

button {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: auto;
    padding: 20px 70px;
}

span{
    color: var(--accent-color);
}

.rocket {
    position: absolute;
    bottom: -600px;
    left: -18%;
    animation: fly 8s .5s ease-in;
    animation-iteration-count: infinite;
}

.launch {
    position: absolute;
    bottom: -600px;
    right: -19%;
    animation: fly 17s .5s ease-in;
    animation-iteration-count: infinite;
}

@keyframes fly {
    0% {
        bottom: -600px;
    }

    100% {
        bottom: 100%;
    }
}
